* {
    margin: 0;
}

.gen-container {
    width: 375px;
    height: 675px;
    background-color: #ebebff;
    border: 3px solid #6070ff;
}

.container {
    width: 375px;
    height: 600px;
    background-color: #ffffff;
    border-radius: 0px 0px 0px 40px;
    background-image: url('./header-section/header-mobile-bg.svg');
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding: 40px;
    padding-bottom: 10px;
    background-color: #ffffff;
}

.logo {
    width: 76px;
    height: 20px;
    color: #6070ff;
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
}

h1 {
    width: 327px;
    height: 150px;
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    margin-left: 40px;
    padding-bottom: 30px;
    padding-top: 100px;
    font-weight: 900;
}

p {
    width: 327px;
    height: 146;
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 40px;
    padding-bottom: 15px;
    color: #344563;

}

h6 {
    width: 117px;
    height: 24px;
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-left: 40px;
    padding-bottom: 10px;
    color:#6070ff;
}

.images {
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 40px;
    justify-content: space-between;
}
